@model Jobs
<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="@Model.Firma.FirmaGorsel" alt="" style="width: 150px; height: 150px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">@Model.Firma.FirmaAdi-@Model.Kategori.KategoriAdi</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Sehir.SehirAdi, @Model.Sehir.Ulke.UlkeAdi</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.CalismaTuru.CalismaTuruAdi</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$@Model.Maas</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>@Model.Aciklama</p>
                    <h4 class="mb-3">Responsibility</h4>
                    <p>@Model.Sorumluluklar</p>
                    
                    <h4 class="mb-3">Qualifications</h4>
                    <p>@Model.Yetenekler</p>
                    
                </div>

                <div class="">
                    @if (!User.IsInRole("Firma"))
                    {
                         <form asp-action="BasvuruYap" method="post" >
                        <input value="@Model.JobsID" name="id" hidden/>
                       
                        <div class="col-12">
                            @if (ViewBag.DurumKontrol == true)
                            {
                                
                                    
                               
                                <a class="btn btn-danger w-100" href="/JobDetail/BasvuruGeriCek/@Model.JobsID">Başvuru Geri Çek</a>
                          
                            }
                            else
                            {
                                <button class="btn btn-warning w-100" type="submit">Başvuru Yap</button>
                            }
                            
                        </div>
                       
                    </form>
                    }
                   
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On:@Model.YayinTarihi.ToString("dd-MM-yyyy")</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.BasvuruSayisi</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.CalismaTuru.CalismaTuruAdi</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: $@Model.Maas</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location:@Model.Sehir.SehirAdi, @Model.Sehir.Ulke.UlkeAdi</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line:@Model.YayinBitisTarihi.ToString("dd-MM-yyyy") </p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">@Model.Firma.FirmaAciklama</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->
